### Задание 6.3
**Выполняется в CodeBoard, но можно адаптировать и под VS на компьютере.**

В ваше распоряжение предоставлена директория "./Root/users/". В данной директории содержатся csv-файлы, в каждом из которых хранится информация об идентификаторах пользователей (user_id) и ссылки на их фотографии (photo_url). Файлов в директории может быть сколько угодно.

Вам необходимо написать функцию concat_user_files(path), параметром которой является path — путь до директории. Функция должна объединить информацию из предоставленных вам файлов в один DataFrame и вернуть его. 

Список названий всех файлов, находящихся в директории, вы можете получить с помощью функции os.listdir(path) из модуля os. Отсортируйте полученный список, прежде чем производить объединение файлов.

Обратите внимание, что метод os.listdir() возвращает только названия файлов в указанной директории, а при чтении файла необходимо указывать полный путь до него.

Не забудьте обновить индексы результирующей таблицы после объединения.

Учтите, что на тестовом наборе файлов в результате объединения могут возникнуть дубликаты, от которых необходимо будет избавиться.

In [ ]:
import pandas as pd
import os

def concat_users_files(path):
    df = pd.DataFrame()
    for file in sorted(os.listdir(path)):
        table = pd.read_csv(os.path.join(path, file), sep=',')
        df = pd.concat([df, table], axis=0, ignore_index=True)
    df = df.drop_duplicates()
    return df
    
#    Вам необходимо написать функцию concat_user_files(path), параметром которой является path - путь до директории. 
#    Функция должна объединить информацию из предоставленных вам файлов в один DataFrame и вернуть его. 
#    Не забудьте обновить индексы результирующей таблицы после объединения.
#    Учтите тот момент, что в результате объединения могут возникнуть дубликаты, от которых необходимо будет избавиться.

if __name__ == '__main__':
    data = concat_users_files('./Root/users/')

### Задание 7.5
Даны две таблицы: items_df, в которой содержится информация о наличии товаров на складе, и purchase_df — с данными о покупках товаров.

items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})

purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})

Информация в таблицах представлена в виде следующих столбцов:

        item_id — идентификатор модели;
        vendor — производитель модели;
        stock_count — имеющееся на складе количество данных моделей (в штуках);
        purchase_id — идентификатор покупки;
        price — стоимость модели в покупке.

1. Сформируйте DataFrame merged, в котором в результате объединения purchase_df и items_df останутся модели, которые учтены на складе и имели продажи.
2. Из таблицы merged найдите суммарную выручку, которую можно было бы получить от продажи всех товаров, которые учтены на складе и имели продажи. Результат занесите в переменную income.

In [3]:
import pandas as pd

items_df = pd.DataFrame({
'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})

purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})

merged = items_df.merge(purchase_df, how='inner')
merged['total'] = merged['stock_count'] * merged['price'] 
income = merged['total'].sum()

display(merged)
display(income)

# 1. Сформируйте DataFrame merged, в котором в результате объединения purchase_df и items_df останутся 
# модели, которые учтены на складе и имели продажи. 
# 2. Найдите из таблицы merged суммарную выручку, которую можно было бы получить от продажи всех товаров, 
# которые есть на складе. Результат занесите в переменную income.

   item_id   vendor  stock_count  purchase_id  price    total
0   417283  Samsung           54          101  13900   750600
1   849734       LG           33          101   5330   175890
2   132223    Apple          122          101  38200  4660400
3   573943    Apple           18          112  49990   899820
4    19475       LG          102          121   9890  1008780
5  3294095    Apple           43          145  33000  1419000
6   382043  Samsung           77          145  67500  5197500
7   302948  Samsung          143          145  34500  4933500
8   100132       LG           60          221  11400   684000

19729490